<div style="margin:5px;padding:5px;background:white; border-bottom:2px solid #eee">
  <div style="float:<%=tr8n_current_language.align(:right)%>">
    <%= tr8n_lb_close_tag(:style => "border:0px; padding:5px;") %>
  </div>
